:root {
  --dark-Blue: hsl(240, 38%, 20%);
  --grayish-Blue: hsl(240, 18%, 77%);

  --fontSize: 32px;

  --fontfamily-Inter: "Inter", sans-serif;

  --fontWeight-extraLight: 300;
  --fontWeight-semibold: 500;
  --fontWeight-bold: 700;

  --pattern-bg: url("../images/pattern-bg.svg");
  --pattern-curve: url("../images/pattern-curve.svg");
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  font-family: var(--fontfamily-Inter);
  background: var(--pattern-curve) no-repeat;
  background-size: 50vh;
  background-position: left bottom;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.container__img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  body {
    height: 100%;
  }

  .container {
    height: 100vh;
    margin: auto;
    position: relative;
  }
}
